.nav {
    display: flex;
    justify-content: center;
}
table {
    margin: 0 auto;
}
/* Estilo personalizado para o dropdown */
.dropdown-menu {
    background-color: #005a8b;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #003f5c;
}

/* Estilo da caixa FAQ */
.faq-box {
    background-color: #005a8b;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    box-sizing: border-box;
    border: 7px solid transparent;
    text-decoration: none;
    display: inline-block;
    border-radius: 80px;
    transition: background-color 0.3s ease;
    margin: 20px -37px;
}

.faq-box:hover {
    background-color: #003f5c;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-evenly;
}

/* Estilos do chatbot */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.chat-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.chat-box {
    padding: 10px;
    height: 85%;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    border-top: 1px solid #ddd;
}

.input-container input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 0;
}

.input-container button {
    border: none;
    background-color: #005a8b;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #003f5c;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message.user {
    align-self: flex-end;
    background-color: #e1ffc7;
    padding: 8px;
    border-radius: 10px;
}

.chat-message.bot {
    align-self: flex-start;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 10px;
}

/* Estilo do footer */
.footer {
    padding: 10px;
    background-color: #005a8b;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer img {
    height: 20px;
}

.h1.dineng1 {
    text-align: center;
    flex: auto;
}

/* Estilo do cabeçalho */
.header2 {
    padding: 15px;
    background-color: #005a8b;
    color: #ffffff;
    display: flex;
    align-items: center;
    z-index: 10px;
    flex-direction: row;
    position: relative;
}
.header .user-profile {
    display: flex;
}

.header .user-profile img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 1350px;
    margin-top: -171px;
    font-family: Arial, sans-serif;
}

.header .user-profile .user-info {
    text-align: right;
}

.header .user-info .dropdown-menu p {
    margin: 0;
    font-size: 1.2rem;
}

.user-profile h2 {
    margin: 0;
    font-size: 0.9rem;
    text-align: right;
    margin-left: 1500px;
}

.header .user-menu {
    margin-left: 1352px;
    text-align: right;
    margin-top: -114px;
    font-family: Arial, sans-serif;
}

.header .user-menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    font-size: 1rem;
    text-align: center;
}

.header .user-menu a:hover {
    text-decoration: underline;
}

/* Estilo do conteúdo principal */
.logo-container {
    text-align: center;
    margin-top: 20px;
}

.logo-container .logo {
    height: 50px;
    margin-bottom: 10px;
}

.logo-container h1 {
    font-size: 2rem;
    color: #005a8b;
}

.card {
    position: static;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* min-width: 16px; */
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 7px solid rgba(0, 0, 0, .125);
    border-radius: 3.25rem;
    align-items: center;
}

.user-menu {
    text-align: right;
}

.h2, h2 {
    font-size: 1rem;
    margin-left: 1350px;
    margin-top: -185px;
    font-family: Arial, sans-serif;
}

p {
    margin-left: 1350px;
    margin-top: -6px;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
